:root {
 --background-color:#fff;
 --font-color:#151515;
 --invert-font-color:#fff;
 --primary-color:#ffcdd2;
 --secondary-color:#727578;
 --error-color:#d20962;
 --progress-bar-background:#726578;
 --progress-bar-fill:#151515;
 --code-bg-color:#e8eff2;
}

body {
  background-image: url("/static/background.jpg");
  background-size: 1500px;
}

::selection {
  background: var(--primary-color);
}

#nav {
  display: flex;
  background-color: #fff;
  margin: 1.5rem 0 2.5rem 0;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 10px;
  border-radius: 1rem;
  align-items: center;
}

#nav a {
  text-decoration: none;
}

.activepage {
  color: 
}

.coolbody {
  background-color: var(--background-color);
  padding: 4rem 2rem 4rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 10px;
  border-radius: 1rem;
}

#title {
  justify-content: flex-start;
}

#title h1 {
  margin-bottom: 0;
}

#nav div {
  text-align: left;
  display: flex;
}

#navlinks {
  display: flex;
}

#navlinks div {
  display: flex;
}

.formsizing {
  height: 40px;
}

@media (min-width: 400px) {
  #nav {
    flex-direction: column;
  }
  #navlinks {
    flex-direction: column;
  }
}

@media (min-width: 550px) {
  #nav {
    flex-direction: row;
    justify-content: space-between;
  }
  #navlinks {
    flex-direction: row;
    justify-content: flex-start;
  }
  #navlinks div {
    margin-right: 2em;
  }
}

a:hover {
  color: #a5d6a7;
}
