<!DOCTYPE html>
<html lang="en">

<head>
  <title>My Fashion Palette</title>
  <link rel="stylesheet" href="static/normalize.css">
  <link rel="stylesheet" href="static/skeleton.css">
  <link rel="stylesheet" href="static/main.css">
  <link href="https://fonts.googleapis.com/css2?family=Leckerli+One&family=Sanchez&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div id="nav">
      <div id="title">
        <a href="/"><h1 style="font-family: 'Leckerli One', cursive; font-size: 3rem;">My Fashion Palette</h1></a>
      </div>
      <div id="navlinks">
        <div>
          <a class="{% block wiki %}{% endblock %}" href="/wiki">
            Wiki
          </a>
        </div>
        {% if current_user.is_authenticated %}
        <div>
          <a class="{% block profile %}{% endblock %}" href="/profile">
            Profile
          </a>
        </div>
        <div>
          <a class="{% block history %}{% endblock %}" href="/history">
            History
          </a>
        </div>
        <div>
          <a href="/logout">
            Logout
          </a>
        </div>
        {% else %}
        <div>
          <a class="{% block login %}{% endblock %}" href="/login">
            Login
          </a>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="coolbody">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</body>
