{% extends 'base.html' %}
{% block content %}
<div class="row">
  <form method="POST">
    <div class="three columns">
      <input class="u-full-width formsizing" required name="date" type="date"/>
    </div>
    <div class="two columns">
      <input class="u-full-width formsizing" required name="color" type="color"/>
    </div>
    <div class="two columns">
      <select class="u-full-width formsizing" required name="opinion">
        <option value="10">perfect</option>
        <option value="9">excellent</option>
        <option value="8">great</option>
        <option value="7">good</option>
        <option value="6">fine</option>
        <option value="5">okay</option>
        <option value="4">blah</option>
        <option value="3">poor</option>
        <option value="2">bad</option>
        <option value="1">awful</option>
      </select>
    </div>
    <div class="three columns">
      <textarea class="u-full-width formsizing" name="comments" placeholder="comments"></textarea>
    </div>
    <div class="two columns">
    <input class="button-primary" type="submit" value="Submit">
    </div>
  </form>
  {% if history_list[0] %}
  <div class="row">
    <div class="eight columns offset-by-two">
      <canvas id="happyOverTime" height="200px"></canvas>
    </div>
  </div>
  <table class="u-full-width">
    <thead>
      <tr>
        <th>Date</th>
        <th>Color</th>
        <th>Opinion</th>
        <th>Comments</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="historytable">
      {% for item in history_list %}
      <tr>
        <td>{{ item[2] }}</td>
        <td style="background-color: {{ item[3] }}">
        </td>
        <td>{{ item[4] }}/10</td>
        <td>{{ item[5] }}</td>
        <td>
          <a href="/history?delete={{ item[0] }}#historytable">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <script src="/static/chart.js"></script>
  <script>
    var config = {
      type: 'line',
      data: {
        labels: [{% for item in graph_list %}'{{ item[2] }}'{{ "," if not loop.last }}{% endfor %}],
        datasets: [
        {
          label: 'Satisfaction',
          backgroundColor: "#ffcdd2",
          borderColor: "#ffcdd2",

          data: [
          {% for item in graph_list %}
          {{ item[4] }} {{ "," if not loop.last }}
          {% endfor %}
          ],
          fill: false,
        }
        ]
      },
      options: {
        responsive: true,
        elements : {
          line: {
            tension: 0
          }
        },
        scales: {
          xAxes: [{
            scaleLabel: {
              labelString: 'Time'
            }
          }],
          yAxes: [{
            scaleLabel: {
              labelString: 'Score'
            },
            ticks: {
              beginAtZero: true,
              maxTicksLimit: 5,
              stepSize: 1
            }
          }]
        }
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('happyOverTime').getContext('2d');
      window.myLine = new Chart(ctx, config);
    };

  </script>
  {% endif %}
  {% endblock %}
