{% extends 'base.html' %}
{% block content %}
<h5>Welcome to My Fashion Palette</h5>
<p>This website is designed to help people define their natural 'palette'. Someone's natural palette can then be used to determine what color clothing, or what hue of makeup looks best on them.</p>
<p>A palette (as defined on this website) consists of a person's warmth and color of their skin, eyes, and hair. Changing any of these will change someone's overall palette. There are twelve established palettes which result from a combination of the above factors.</p>
<p>For more resources, I highly recommend viewing <a href="https://theconceptwardrobe.com/colour-analysis-comprehensive-guides/complete-seasonal-guides">The Concept Wardrobe's Complete Seasonal Guides.</a> However, while they create an in depth analysis of color seasons, I have found that their palette examples are somewhat limited and that people in real life are almost never 'prime examples' of a palette. Discovering what colors look best on you is a process that combines your own personal preferences, as well as the tones you were born with.</p>
<p>This is why I created this website, so that anyone could discover and learn about their palette. Not everyone who is an autumn has red-toned hair, and not everyone who is a winter has black hair, pale skin, and blue eyes. Feel free to login to create your account and access your profile, where you can run your palette through <b><i>the algorithm</i></b> and receive a color palette suggestion.</p>
<h5>The Twelve Palettes</h5>
<p>The twelve palettes are differentiated by three elements; chroma (bold or soft colors), hue (warm or cool colors), and value (dark or light colors). You can learn more about these by clicking on the Wiki page.</p>
<img src="/static/palettewheel.jpg" alt="palette wheel" style="width: 80%; display:block; margin-left: auto; margin-right: auto ">
{% endblock %}
