{% extends 'base.html' %}
{% block content %}
<h5>Welcome to My Fashion Palette</h5>
<p>This website is designed to help people define their natural 'palette'. Someone's natural palette can then be used to determine what color clothing, or what hue of makeup looks best on them.</p>
<p>A palette (as defined on this website) consists of a person's wamrth and color of their skin, eyes, and hair. Changing any of these will change someone's overall palette. There are twelve established palettes which result from a combination of the above factors.</p>
<h5>The Twelve Palettes</h5>
<p>The twelve palettes are differentiated by three elements; chroma (bold or soft colors), hue (warm or cool colors), and value (dark or light colors).</p>
<img src="/static/palettewheel.jpg" alt="palette wheel" style="width: 80%; display:block; margin-left: auto; margin-right: auto ">
{% endblock %}
