{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="six columns offset-by-three">
  <form method="POST">
        <label for="usernameid">Username</label>
        <input class="u-full-width" name="username" type="text" placeholder="your chosen username" id="usernameid"/>
        <label for="passwordid">Password</label>
        <input class="u-full-width" name="passwordname" type="password" placeholder="your chosen password" id="passwordid"/>
  <div style="display: flex; justify-content: flex-end">
    <input class="button-primary" type="submit" value="Submit">
  </div>
  </form>
</div>
</div>
{% endblock %}
