{% extends 'base.html' %}
{% block login %}active{% endblock %}
{% block content %}
<div class="row">
  <div class="six columns offset-by-three">
    <form method="POST">
      <label for="usernameid">Username</label>
      <input class="u-full-width" name="username" type="text" placeholder="divinecloset" id="usernameid" required/>
      <label for="passwordid">Password</label>
      <input class="u-full-width" name="passwordname" type="password" placeholder="Fash1onPalett3!" id="passwordid" required/>
      <div style="display: flex; justify-content: flex-end">
        <input class="button-primary" type="submit" value="Submit">
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="six columns offset-by-three">
    <br>
    <p>If you are a new user, simply type the username you desire and a strong password, and this website will create a user profile for you. Otherwise, feel free to login with your previous login information.</p>
  </div>
</div>
{% endblock %}
