{% extends 'base.html' %}
{% block wiki %}active{% endblock %}
{% block content %}
<h4>Wiki</h4>
<h5>Bold Spring</h5>
  <div class="row">
    <div class="seven columns">
      <p>Words describing this palette!</p>
    </div>
    <div class="five columns">
      <div class="polaroid">
        <img src="/static/boldspring.jpg" alt="boldspring" style="width:100%">
        <div class="polar">
          <p>Bold Spring<p>
        </div>
      </div>
    </div>
  </div>
<h5>True Spring</h5>
  <div class="row">
    <div class="seven columns">
      <p>Words describing this palette!</p>
    </div>
    <div class="five columns">
      <div class="polaroid">
        <img src="/static/truespring.jpg" alt="truespring" style="width:100%">
          <div class="polar">
            <p>True Spring<p>
          </div>
      </div>
    </div>
  </div>
<h5>Light Spring</h5>
  <div class="row">
    <div class="seven columns">
      <p>Words describing this palette!</p>
    </div>
    <div class="five columns">
      <div class="polaroid">
        <img src="/static/lightspring.jpg" alt="truespring" style="width:100%">
        <div class="polar">
          <p>Light Spring<p>
        </div>
      </div>
    </div>
  </div>
<h5>Light Summer</h5>
  <div class="row">
    <div class="seven columns">
      <p>Words describing this palette!</p>
    </div>
    <div class="five columns">
      <div class="polaroid">
        <img src="/static/lightsummer.jpg" alt="lightsummer" style="width:100%">
        <div class="polar">
          <p>light Summer<p>
        </div>
      </div>
    </div>
  </div>
<h5>True Summer</h5>
  <div class="row">
    <div class="seven columns">
      <p>Words describing this palette!</p>
    </div>
    <div class="five columns">
      <div class="polaroid">
        <img src="/static/truesummer.jpg" alt="truesummer" style="width:100%">
        <div class="polar">
          <p>True Summer<p>
        </div>
      </div>
    </div>
  </div>
<h5>Soft Summer</h5>
  <div class="row">
    <div class="seven columns">
      <p>Words describing this palette!</p>
    </div>
    <div class="five columns">
      <div class="polaroid">
        <img src="/static/softsummer.jpg" alt="softsummer" style="width:100%">
        <div class="polar">
          <p>Soft Summer<p>
        </div>
      </div>
    </div>
  </div>
<h5>Soft Autumn</h5>
  <div class="row">
    <div class="seven columns">
      <p>Words describing this palette!</p>
    </div>
    <div class="five columns">
      <div class="polaroid">
        <img src="/static/softautumn.jpg" alt="softautumn" style="width:100%">
        <div class="polar">
          <p>Soft Autumn<p>
        </div>
      </div>
    </div>
  </div>
<h5>True Autumn</h5>
  <div class="row">
    <div class="seven columns">
      <p>Words describing this palette!</p>
    </div>
    <div class="five columns">
      <div class="polaroid">
        <img src="/static/trueautumn.jpg" alt="trueautumn" style="width:100%">
        <div class="polar">
          <p>True Autumn<p>
        </div>
      </div>
    </div>
  </div>
<h5>Dark Autumn</h5>
  <div class="row">
    <div class="seven columns">
      <p>Words describing this palette!</p>
    </div>
      <div class="five columns">
        <div class="polaroid">
          <img src="/static/darkautumn.jpg" alt="dark autumn" style="width:100%">
            <div class="polar">
              <p>Dark Autumn<p>
            </div>
        </div>
      </div>
    </div>
<h5>Dark Winter</h5>
  <div class="row">
    <div class="seven columns">
      <p>Words describing this palette!</p>
    </div>
    <div class="five columns">
      <div class="polaroid">
        <img src="/static/darkwinter.jpg" alt="Dark Winter" style="width:100%">
          <div class="polar">
            <p>Dark Winter<p>
          </div>
      </div>
    </div>
  </div>
<h5>True Winter</h5>
  <div class="row">
    <div class="seven columns">
        <p>Words describing this palette!</p>
    </div>
    <div class="five columns">
      <div class="polaroid">
        <img src="/static/truewinter.jpg" alt="true winter" style="width:100%">
          <div class="polar">
            <p>True Winter<p>
          </div>
      </div>
    </div>
  </div>
<h5>Bold Winter</h5>
  <div class="row">
    <div class="seven columns">
      <p>Words describing this palette!</p>
    </div>
    <div class="five columns">
      <div class="polaroid">
        <img src="/static/boldwinter.jpg" alt="bold winter" style="width:100%">
          <div class="polar">
            <p>Bold Winter<p>
          </div>
      </div>
    </div>
  </div>
{% endblock %}
