{% extends 'base.html' %}
{% block wiki %}active{% endblock %}
{% block content %}
<h4>Wiki</h4>
<p>This wiki was built using inventyourimage.com's color concept palettes. We chose these because they clearly represent what colors look best in clothing, as well as show what jewelry tones match. (Some palettes are better with gold toned jewelry, some with silver, and some with both. Newer jewelry tones such as rose-gold would be great for neutral or cool palettes.)</p>
{% for key, value in big_dict.items() %}
<h5>{{ value[0] }}</h5>
<div class="row">
  <div class="eight columns">
    <p>{{ value[1] }}</p>
  </div>
  <div class="four columns">
    <div class="polaroid">
      <img src="/static/{{ key }}.jpg" alt="{{ value[0] }}" style="width:100%"/>
      <div class="polar">
        <p style="font-size:1.2rem"> right click > view image</p>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}
